header {
  position: fixed;
  height: 70px;
  width: 100%;
  line-height: 70px;
  font-family: "Black And White Picture", sans-serif;
  text-align: center;
  font-size: 3em;
  color: #dfccaf;
  background: #3c2f2f;
  z-index: 9999;
}

@media only screen and (min-width: 768px) {
  header {
    height: 80px;
    line-height: 80px;
    font-size: 4em;
  }
}
